:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    margin: 50px 50px 10px;
}

h1,
h4 {
    font-family: 'Spartan Bold', sans-serif;
    color: var(--Very-Dark-Magenta);
}

.div {
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    padding-bottom: 2.5%;
}

.box-header {
    width: 50%;
}

.box-header h1 {
    margin-right: 250px;
}

.box-header p {
    color: var(--Dark-Grayish-Magenta);
    margin-right: 250px;
}

.box-rating {
    width: 50%;
}

.rating {
    border-radius: 5%;
    width: 350px;
    padding: 5px 10px;
    margin: 15px 15px 0;
    background-color: var(--Light-Grayish-Magenta);
}
.rating1 {
    display: flex;
    justify-content: flex-start;
}

.rating2 {
    display: flex;
    justify-content: center;
}

.rating3 {
    display: flex;
    justify-content: flex-end;
}

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: var(--Very-Dark-Magenta);
    width: 25%;
    border-radius: 3%;
    padding: 20px;
}

.card1 {
    margin: 0 0 40px;
}

.card2 {
    margin: 20px 0 20px;
}

.card3 {
    margin: 40px 0 0;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-header h4 {
    color: var(--White);
}

.card-header p {
    color: var(--Soft-Pink);
}

.card-header-image {
    display: flex;
    align-items: center;
    width: 70px;
}

.card-header-image img {
    border-radius: 100%;
    width: 50px;
}

.card-header-text {
    padding: 10px 20px;
}

.card-header-text p {
    color: var(--Soft-Pink);
    margin: 0;
}

.card-header-text h4 {
    margin: 0;
}

.card-content p {
    color: var(--White);
}

.attribution {
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}